<!DOCTYPE html>
<html>
<head>
    <title>PCWA ARHO DATA INTERFACE</title>
</head>
<body>
<h1>PCWA ARHO SNOW DATA INTERFACE</h1>
<h2>Instructions of using this interface</h2>
<p>Before click the "Download" button, you have to make sure
all fields in the form below are filled already. <br>
</p>
<ul style="list-style-type:disc">
    <li>
        The first field "Site Name"
        is a drop down list where you choose the site. <br>
        <ul style="list-style-type:square">
            <li>e.g: Duncan Peak.</li>
            <li>Locations could be found from the Google Map below.</li>
            <li>Selection on the map will automatically update Site Name in the submission form.</li>
        </ul>
    </li>
    <li>
        The second field "Begin Time" has an embedded calendar
        from which you could select the beginning date. <br>
        <ul style="list-style-type:square">
            <li>Note: The beginning date cannot be earlier than 2015-10-01</li>
            <li>If you find no drop down list with time showing there,
                you need to switch your browser to one that supports HTML5</li>
        </ul>
    </li>
    <li>
        The thrid field "End Time", same as "Begin Time" but has to be equal or later
        than "Begin Time"
    </li>
</ul>

<title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60%;
        width: 70%;
        margin: 0;
        padding: 0;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        width: 80%;
        margin: 0 15% 0 15%;
        padding: 0;
      }
    </style>

<div id="map"></div>
<script type="text/javascript" src="jquery-3.1.1.min.js"></script>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 39.080193, lng: -120.281183},
                zoom: 9
            });

            var site_names = [{name: "Alpha", val: "Alpha"},
                {name: "Bear Trap", val: "Bear_Trap"},
                {name: "Caples Lake", val: "Caples_Lk"},
                {name: "Dolly Creek", val: "DollyRice"},
                {name: "Duncan Peak", val: "Duncan_Pk"},
                {name: "Echo Peak", val: "Echo_Pk"},
                {name: "Mt. Lincoln", val: "Mt_Lincoln"},
                {name: "Onion Creek", val: "Onion_Ck"},
                {name: "Owens Camp", val: "Onion_Ck"},
                {name: "Robbs Saddle", val: "Robbs_Saddle"},
                {name: "Schneiders", val: "Schneiders"},
                {name: "Talbot Camp", val: "Talbot_Camp"},
                {name: "Vanvleck", val: "Van_Vleck"}];

            var site_locations = [{lat: 38.805000, lng:-120.214996},
                {lat: 39.097492, lng:-120.575371},
                {lat: 38.711502, lng:-120.042786},
                {lat: 39.149879, lng:-120.369392},
                {lat: 39.155510, lng:-120.511940},
                {lat: 38.849152, lng:-120.079865},
                {lat: 39.286541, lng:-120.322472},
                {lat: 39.274529, lng:-120.357094},
                {lat: 38.735626, lng:-120.241226},
                {lat: 38.911987, lng:-120.379433},
                {lat: 38.745998, lng:-120.065002},
                {lat: 39.189899, lng:-120.377213},
                {lat: 38.942863, lng:-120.310905}];

            var prev_infowindow = false;

            for (var i=0; i<14; i++) {
                var marker = new google.maps.Marker({
                    position: site_locations[i],
                    map: map
                });

                var infowindow = new google.maps.InfoWindow();

                var content = site_names[i].name;
                var content_val = site_names[i].val;

                google.maps.event.addListener(marker, 'click', (function(marker,content,infowindow,content_val){
                    return function() {
                        if (prev_infowindow) {
                            prev_infowindow.close();
                        }

                        prev_infowindow = infowindow;
                        infowindow.setContent(content);
                        infowindow.open(map,marker);
                        var element = document.getElementById('site');
                        element.value = content_val;
                    };
                })(marker,content,infowindow,content_val));
            }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCOBJPFZ8tkAYz8L94lpL1kbg4an4ngU7M&callback=initMap"
    async defer></script>

<h2>Please fill in the following form to download the snow depth data</h2>

<form action="/download" method="Post">
    <ul style="list-style-type:disc">
        <li>
            Site Name:
            <select id="site" name="site">
                <option value="Alpha">Alpha</option>
                <option value="Bear_Trap">Bear Trap</option>
                <option value="Caples_Lk">Caples Lake</option>
                <option value="DollyRice">Dolly Creek</option>
                <option value="Duncan_Pk">Duncan Peak</option>
                <option value="Echo_Pk">Echo Peak</option>
                <option value="Mt_Lincoln">Mount Lincoln</option>
                <option value="Onion_Ck">Onion Creek</option>
                <option value="Owens_Camp">Owens Camp</option>
                <option value="Robbs_Saddle">Robbs Saddle</option>
                <option value="Schneiders">Schneiders</option>
                <option value="Talbot_Camp">Talbot Camp</option>
                <option value="Van_Vleck">Vanvleck</option>
            </select>
        </li>
        <li>
            Begin Time
            <input type="date" name="start_date">
        </li>
        <li>
            End Time
            <input type="date" name="end_date">
        </li>
    </ul>
    <input type="submit" value="Download">
</form>
</body>
</html>